/* -----------------------------------GLOBALI----------------------------------- */

:root {
  --primary-color: #7c69a4;
  --secondary-color: #ff9613;
  --background-body: #f6f5f3;
  --font-primary: "Montserrat", "Helvetica Neue", sans-serif;
  --font-secondary: "Nerko One", cursive;
}

/* DEBUG */

.db-color1 {
  background-color: green;
}

.db-color2 {
  background-color: yellow;
}

.db-color3 {
  background-color: blue;
}

/* ----------------------------------- RESET VARIABILI GLOBALI -----------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  background-color: var(--background-body);
  font-family: var(--font-primary);
}

header {
  z-index: 100;
  position: sticky;
}

img {
  width: 100%;
}

main {
  flex-grow: 1;
}

ul {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.spacing-page {
  padding: 1rem;
}

/* ----------------------------------- LAYOUT ----------------------------------- */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-element {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.element-row-wrap {
  flex-flow: row wrap;
  gap: 5px;
}

.column-element-wrap {
  flex-flow: column wrap;
}

.column-orizontal-center {
  justify-content: center;
}

.column-vertical-center {
  justify-content: center;
}

.row-vertical-center {
  align-items: center;
}

.row-space-between {
  justify-content: space-between;
}

/* ----------------------------------- TIPOGRAFIA -----------------------------------*/

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

/* -----------------------------------UTILITY -----------------------------------*/

.col-25 {
  width: 25%;
}

.col-35 {
  width: 35%;
}

.col-50 {
  width: 50%;
}

.col-65 {
  width: 65%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

.h-50 {
  height: 50vh;
}

.h-100 {
  height: 100vh;
}

.style-bold-900 {
  font-weight: 900;
}

.col-small {
  flex: 0 1 30%;
}

.col-big {
  flex: 1 1;
}

.margin-top-6 {
  margin-top: 6rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.font-weight {
  font-weight: 900;
}

/* ----------------------------------- HEADER MOBILE FINO A 576px -----------------------------------*/

#header-menu {
  width: 100%;
  padding: 0 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header .row {
  min-height: 60px;
}

.header .col-100 {
  text-align: center;
}

.logo {
  font-family: var(--font-secondary);
  font-size: 2rem;
  color: var(--secondary-color);
  text-align: center;
}

/* ------- HEADER LARGE MOBILE DA 577px A 768px ------- */
@media screen and (min-width: 577px) {
  header .col-100 {
    text-align: left;
  }
  .logo {
    font-size: 2.5rem;
  }
}

/* -------  HEADER TABLET DA 769px A 992px ------- */
@media screen and (min-width: 769px) {
  header .col-100 {
    text-align: left;
  }
}

/* ------- HEADER DESKTOP DA 993px A INFINITO ------- */
@media screen and (min-width: 993px) {
  header .col-100 {
    text-align: left;
  }
  .logo {
    font-size: 3rem;
  }
}

/* ----------------------------------- PRESENTATION SECTION MOBILE FINO A 576px -----------------------------------*/

.category-food {
  text-transform: uppercase;
  color: rgb(185, 185, 185);
}

.title-card {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 900;
  padding-bottom: 1rem;
}

.info-card {
  background-color: white;
  padding: 1rem;
}

li {
  padding-bottom: 1rem;
}

/* ------- HEADER LARGE MOBILE DA 577px A 768px ------- */
@media screen and (min-width: 577px) {
}

/* -------  HEADER TABLET DA 769px A 992px ------- */
@media screen and (min-width: 769px) {
  header .col-100 {
    text-align: left;
  }
}

/* ------- HEADER DESKTOP DA 993px A INFINITO ------- */
@media screen and (min-width: 993px) {
  header .col-100 {
    text-align: left;
  }
  .logo {
    font-size: 3rem;
  }
}
